---
import { formatDate } from "@/lib/util";

const { post } = Astro.props;

const postItemClasses = [
  // Base
  "overflow-hidden rounded-lg shadow-md transition-colors",
  
  // Light mode
  "bg-lightModePostBackground",
  "ring-2 ring-lightModePostOutline",
  
  // Hover
  "hover:bg-lightModePostBackgroundHover",
  "hover:ring-lightModePostOutlineHover",
  
  // Dark mode
  "dark:bg-darkModePostBackground",
  "dark:ring-darkModePostOutline",
  
  // Dark Hover
  "dark:hover:bg-darkModePostBackgroundHover",
  "dark:hover:ring-darkModePostOutlineHover"
].join(" ");

const gradientClasses = [
  // Base
  "w-full h-48 bg-gradient-to-br",
  
  // Light mode
  "from-lightModePostFrom to-lightModePostTo",
  
  // Dark mode
  "dark:from-darkModePostFrom dark:to-darkModePostTo"
].join(" ");

const titleClasses = [
  // Base
  "text-xl font-semibold",
  
  // Light mode
  "text-lightModeForeground",
  
  // Dark mode
  "dark:text-darkModeForeground"
].join(" ");

const descriptionClasses = [
  // Base
  "mt-2",
  
  // Light mode
  "text-lightModeForegroundMuted",
  
  // Dark mode
  "dark:text-darkModeForegroundMuted"
].join(" ");

const timeClasses = [
  // Base
  "mt-4 block text-sm",
  
  // Light mode
  "text-lightModeForegroundMuted",
  
  // Dark mode
  "dark:text-darkModeForegroundMuted"
].join(" ");
---

<li class={["h-96", postItemClasses].join(" ")}>
  <a href={`/blog/${post.slug}`} class="block flex flex-col h-full">
    {post.data.image ? (
      <img src={post.data.image.src} alt={post.data.imageAlt ?? post.data.title} class="w-full h-48 object-cover flex-shrink-0" />
    ) : (
      <div class={["flex-shrink-0", gradientClasses].join(" ")}></div>
    )}
    <div class="p-4 flex flex-col flex-grow overflow-hidden">
      <h2 class={["line-clamp-2 overflow-hidden", titleClasses].join(" ")}
      >
        {post.data.title}
      </h2>
      <p class={["line-clamp-3 overflow-hidden", descriptionClasses].join(" ")}
      >
        {post.data.description}
      </p>
      <time class={["mt-auto pt-2", timeClasses].join(" ")}
      >
        {formatDate(post.data.publicationDate)}
      </time>
    </div>
  </a>
</li>
